{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}



<h1 class="blue-centered-header">BookFace</h1>
<h3 class="blue-centered-header" style="font-style: italic;">Lose your time with friends!</h3>

<div class="login-form-box text-center container">
    <p class="mt-3">Zaloguj się do BookFace'a</p>
    <div class="row justify-content-center">
        <div class="col-3">
            <div class="container black">
                 <form action="" method="POST">
                    {{ wtf.form_errors(form, hiddens="only") }}
                        {% for field in form %}
                        {% if field.name == "csrf_token" %}
                          {{ field }}
                        {% elif field.name == "submit" %}
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        {% if category == "error" %}
                                           <div class="alert alert-danger" role="alert"> <i class="fa-solid fa-triangle-exclamation"></i>   {{ message }}</div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            {{ wtf.form_field(field, class="btn btn-primary btn-block") }}
                        {% else %}
                         {{ wtf.form_field(field) }}
                        {% endif %}
                    {% endfor %}
                </form>
            </div>
        </div>
    </div>
    <a href="#">
        <p>Zarejestruj się na Bookface</p>
    </a>
</div>


{% endblock %}
