{% extends "base.html" %}

{% block title %}
Home page
{% endblock %}

{% block content %}
<!-- <h1 class="blue-centered-header">BookFace</h1>
<h3 class="blue-centered-header" style="font-style: italic;">Lose your time with friends!</h3>

<div class="login-form-box text-center container w-25">
    <form>
        <p class="mt-3">Zaloguj się do BookFace'a</p>
        <input class="mb-3" type="text" id="login" placeholder="Adres e-mail"><br>
        <input class="mb-3" type="password" id="password" placeholder="Hasło"><br>
        <input class="mb-3" type="submit" value="Zaloguj się">
    </form>
    <a href="#">
        <p>Zarejestruj się na Bookface</p>
    </a>
</div> -->




{% endblock %}