{% extends "base.html" %}
{% block title %}
BookFace - Lose time with your friends
{% endblock %}

{% block content %}
<style>
    .post
    {
        width: 50% !important;
    }

    #addPostForm
    {
        width: 50% !important;
        margin: auto;
    }

    .alert
    {
        width: 50% !important;
        margin-right: auto;
        margin-left: auto;
    }

    @media (max-width: 992px) { 
        .post
        {
            width: 100% !important;
        }

        #addPostForm
        {
            width: 100% !important;
        }

        .alert
        {
            width: 100% !important;
        }
    }
</style>
<div class="container">
    {% include "includes/global/components/button_scroll_to_top.html" %}
    {% include "includes/postboard/forms/add_post_form.html" %}
    {% for post in posts %}
    {% include "includes/postboard/modals/block_user_modal.html" %}
    {% include "includes/postboard/modals/unblock_user_modal.html" %}
    {% include "includes/postboard/modals/demote_user_modal.html" %}
    {% include "includes/postboard/modals/remove_post_modal.html" %}
    {% include "includes/postboard/modals/edit_post_modal.html" %}
    <!-- post -->
    <div class="post p-3 mb-0 ms-auto me-auto rounded-3 shadow-sm" style="border: 2px solid#eee;">
        <div class="d-flex">
            <!-- avatar -->
            {% if post.user.id == current_user.id %}
            <img src="{{ url_for('static', filename='images/default-avatar.png') }}" alt="avatar" class="rounded-circle me-2 border border-success border-3" style="max-width: 52px; object-fit: cover;">
            {% else %}
            <img src="{{ url_for('static', filename='images/default-avatar.png') }}" alt="avatar" class="rounded-circle me-2" style="max-width: 52px; object-fit: cover;">
            {% endif %}
            <!-- author info -->
            <div>
                <p class="mb-0">
                    {% if post.user.role.id != 4 %}
                    <b>{{ post.user.username }}</b>
                    {% else %}
                    <b class="text-muted">{{ post.user.username }}</b>
                    {% endif %}
                    {% if post.user.role.id != 3 %}
                    {% if post.user.role.id == 4 %}
                    <span class="badge bg-danger bg-opacity-10 text-danger">
                    {% else %}
                    <span class="badge bg-primary bg-opacity-10 text-primary">
                    {% endif %}
                        {{ post.user.role.name }}
                    </span>
                    {% endif %}
                </p>
                <div>
                    <small class="text-muted m-0" data-bs-toggle="tooltip" title="{{ post.created_at.strftime('%A, %d.%m.%Y %H:%M') }}">
                        {{ post.get_time_difference() }}
                    </small>
                    {% if post.updated_at != post.created_at %}
                    <small class="text-muted m-0" data-bs-toggle="tooltip" title="{{ post.updated_at.strftime('%A, %d.%m.%Y %H:%M') }}">
                        · edytowany
                    </small>
                    {% endif %}
                </div>
            </div>
            <!-- options menu -->
            {% if post.user.id != current_user.id or current_user.role.id == 1 or current_user.role.id == 2 %}
            <div class="dropdown ms-auto me-2 mt-2">
                <i class="fas fa-ellipsis fa-lg" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false"></i>
                <ul class="dropdown-menu shadow-sm" aria-labelledby="postOptions">
                    <!-- edit post -->
                    <li>
                        <button type="button" class="btn btn-sm dropdown-item" data-bs-toggle="modal" data-bs-target="#editPost-{{ post.id }}" data-bs-defaultvalue="{{ post.description }}" onclick="setDefaultValueToPost({{ post.id }})">
                            <i class="fas fa-pen-to-square pe-2"></i>
                            Edytuj post
                        </button>
                    </li>
                    {% if post.user.role.id != 4 and post.user.id != current_user.id and (current_user.role.id == 1 or current_user.role.id == 2) %}
                    <!-- block/demote user -->
                    <li>
                        {% if post.user.role.id == 2 %}
                        <button type="button" class="btn btn-sm dropdown-item" data-bs-toggle="modal" data-bs-target="#demoteUser-{{ post.id }}">
                            <i class="fas fa-hammer pe-2"></i>
                            Zabierz uprawienia
                        </button>
                        {% else %}
                        <button type="button" class="btn btn-sm dropdown-item" data-bs-toggle="modal" data-bs-target="#blockUser-{{ post.id }}">
                            <i class="fas fa-lock pe-2"></i>
                            Zablokuj użytkownika
                        </button>
                        {% endif %}
                    </li>
                    {% elif post.user.role.id == 4 and (current_user.role.id == 1 or current_user.role.id == 2) %}
                    <!-- unblock user -->
                    <li>
                        <button type="button" class="btn btn-sm dropdown-item" data-bs-toggle="modal" data-bs-target="#unblockUser-{{ post.id }}">
                            <i class="fas fa-unlock pe-2"></i>
                            Odblokuj użytkownika
                        </button>
                    </li>
                    {% endif %}
                    <!-- remove post -->
                    <li>
                        <button type="button" class="btn btn-danger btn-sm dropdown-item" data-bs-toggle="modal" data-bs-target="#removePost-{{ post.id }}">
                            <i class="fas fa-trash pe-2"></i>
                            Usuń post
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
        <!-- post content -->
        <p>{{ post.description | safe }}</p>
        {% if post.user.role.id != 4 %}
        <hr>
        <!-- like/unlike post -->
        <p class="mb-0">
            {# if current_user.has_liked_post(post.id) #}
            <a href="{{ url_for('postboard.like_post', post_id=post.id) }}" class="btn btn-outline-primary border-0" data-bs-toggle="tooltip" data-bs-html="true" title="{% if post.likes == 1 %} Ten post podoba się <strong>{{ post.likes }}</strong> osobie {% elif post.likes > 1 %} Ten post podoba się <strong>{{ post.likes }}</strong> osobom {% endif %}">
                <i class="fas fa-thumbs-up"></i>
                {% if post.likes > 0 %}
                {{ post.likes }}
                {% else %}
                Lubię to!
                {% endif %}
            </a>
            {# else #}
            <a href="{{ url_for('postboard.unlike_post', post_id=post.id) }}" class="btn btn-outline-primary border-0" data-bs-toggle="tooltip" data-bs-html="true" title="{% if post.likes == 1 %} Ten post podoba się <strong>{{ post.likes }}</strong> osobie {% elif post.likes > 1 %} Ten post podoba się <strong>{{ post.likes }}</strong> osobom {% endif %}">
                <i class="fas fa-thumbs-up"></i>
                {% if post.likes > 0 %}
                {{ post.likes }}
                {% else %}
                Lubię to!
                {% endif %}
            </a>
            {# endif #}
        </p>
        {% endif %}
    </div>
    <br>
    {% endfor %}
</div>
<!-- TinyMCE  -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.tiny.cloud/1/9ereik6l9j5n7qcn503nt1z19s7udhc57hl17hwtoz2o2eii/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
$(function () {
    // init TinyMCE editors
    tinymce.init({
        selector: '#postForm',
        language: 'pl',
        resize: false,
        plugins: [
            'lists','link','image','charmap','preview','searchreplace','visualblocks',
            'powerpaste','formatpainter','insertdatetime','media','help','wordcount'
        ],
        init_instance_callback: (editor) => {
            console.log(`Editor: ${editor.id} is now initialized.`);
        },
        setup: function (editor) {
            editor.on('input', function () {
                tinymce.triggerSave();
                checkPostForm();
            });
        }
    });

    tinymce.init({
        selector: '.editPostForm',
        language: 'pl',
        resize: false,
        plugins: [
            'lists','link','image','charmap','preview','searchreplace','visualblocks',
            'powerpaste','formatpainter','insertdatetime','media','help','wordcount'
        ],
        init_instance_callback: (editor) => {
            console.log(`Editor: ${editor.id} is now initialized.`);
        },
        setup: function (editor) {
            editor.on('input', function () {
                tinymce.triggerSave();
                var content = tinymce.activeEditor.getContent();
                checkEditPostForm(editor.id, content);
            });
        }
    });

    // prevent Bootstrap modal dialog from blocking focusin
    document.addEventListener('focusin', (e) => {
        if (e.target.closest('.tox-tinymce-aux, .moxman-window, .tam-assetmanager-root') !== null) {
            e.stopImmediatePropagation();
        }
    });
});

function checkPostForm() {
    var editorContent = $('#postForm').val();
    var editorContentInText = $.trim($(editorContent).text());

    if (editorContentInText == '') {
        $('#postFormSubmit').prop('disabled', true);
    }
    else {
        $('#postFormSubmit').prop('disabled', false);
    }
}

function checkEditPostModal(postId) {
    checkEditPostForm(postId);
    setPostDefaultValue(postId);
}

function setPostDefaultValue(postId) {
    const editPost = document.getElementById('editPost-' + postId);
    editPost.addEventListener('show.bs.modal', event => {
        const button = event.relatedTarget;
        const postContent = button.getAttribute('data-bs-defaultvalue');
        tinymce.activeEditor.setContent(postContent);
    })
    editPost.addEventListener('hide.bs.modal', event => {
        const button = event.relatedTarget;
        const postContent = button.getAttribute('data-bs-defaultvalue');
        tinymce.activeEditor.setContent(postContent);
    })
}

function checkEditPostForm(postId, postDesc) {
    var editorContent = $('#' + postId).val();
    var editorContentInText = $.trim($(editorContent).text());
    var submitBtn = postId + '-Submit'
		
    if (editorContentInText == '' || editorContentInText == postDesc) {
        $('#' + submitBtn).prop('disabled', true);
    }
    else {
        $('#' + submitBtn).prop('disabled', false);
    }
}
</script>
{% endblock %}