<button id="btnScrollToTop" class="btn-primary position-fixed border-0 text-white rounded-circle shadow" style="right: 20px; bottom: 20px; outline: none; cursor: pointer; display: none; height: 50px; width: 50px; z-index: 1001 !important;
">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
    </svg>
</button>
<script>
    window.addEventListener("scroll", () => {
        const scrolled = window.scrollY;
        const btnScrollToTop = document.querySelector("#btnScrollToTop");

        if (scrolled >= 500) {
            btnScrollToTop.style.display = "block";
            btnScrollToTop.addEventListener("click", function () {
                window.scrollTo({
                    top: 0,
                    left: 0,
                    behavior: "smooth"
                });
            });
        }
        else {
            btnScrollToTop.style.display = "none";
        }
    });
</script>